@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwA_JxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAkJxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZthTg.ttf) format('truetype');
}
body {
  overflow: hidden;
}
#imgWrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
#imgWrap img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.title {
  top: 36px;
  left: 40px;
  position: absolute;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #e0e0ff;
  border-radius: 5px;
  box-shadow: 8px 0px 0 0px #000000cc, -8px 0px 0 0px #000000cc;
  padding: 4px 0 4px 0;
  display: inline;
  word-wrap: break-word;
  background-color: #000000cc;
  z-index: 100;
}
.title .subt {
  font-size: 16px;
  font-weight: 500;
}
.main {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}
.main li {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-left: 44px;
  padding-bottom: 36px;
}
.main li > a {
  color: #e0e0ff;
  border-radius: 5px;
  box-shadow: 12px 0px 0 0px #000000cc, -12px 0px 0 0px #000000cc;
  padding: 4px 0 4px 0;
  background-color: #000000cc;
  word-wrap: break-word;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main li > a:hover {
  box-shadow: 12px 0px 0 0px #000000f2, -12px 0px 0 0px #000000f2;
  background-color: #000000f2;
  padding-left: 16px;
  transition: all 0.1s ease;
}
.footy {
  position: absolute;
  background-color: #000000cc;
  z-index: 100;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  padding: 0;
  list-style: none;
  gap: 64px;
}
.footy li {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
}
.footy li > a {
  color: #e0e0ff;
  padding: 6px 12px;
  word-wrap: break-word;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footy li > a:hover {
  transition: all 0.1s ease;
}
#fish-field {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fish {
  display: flex;
}
.badge {
  display: flex;
  z-index: 110;
  transform: translate(-16px, 36px);
  justify-content: right;
  align-items: right;
}
.badge > span {
  text-align: right;
  display: flex;
  padding: 6px 10px;
  justify-content: right;
  border-radius: 5px;
  background: #e0e0ff;
  color: #000000cc;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  word-wrap: break-word;
  flex-wrap: wrap;
  max-width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
